.App {
  background-color: black;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHdvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.canvas{
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  /* background: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHdvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
  background-repeat: no-repeat;
  background-size: 80vw 100vh;
  width: 80vw !important;
  height: 100vh !important;
  
}
.picker{
  position: absolute;
  left:5vw;
  top:5vh;
  z-index: 999;
  color: white;
}
.shoecomp{
  display: flex;
  background: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHdvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.shoeSelector{
  color: white;
  width: 20vw;
  /* background:url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMHdvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
}
.shoeimg{
width: 19vw;
height: 35vh;
border-style: solid;
  border-color: black;
border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
